<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="components/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          components/images/easy.webp    1x,
          components/images/easy@2x.webp 2x
        "
      />
      <source
        type="image/jpg"
        srcset="components/images/easy.jpg 1x, components/images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="components/images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="components/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          components/images/fast.webp    1x,
          components/images/fast@2x.webp 2x
        "
      />
      <source
        type="image/jpg"
        srcset="components/images/fast.jpg 1x, components/images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="components/images/fast@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="components/images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          components/images/wordpress.webp    1x,
          components/images/wordpress@2x.webp 2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          components/images/wordpress.jpg    1x,
          components/images/wordpress@2x.jpg 2x
        "
      />
      <img
        class="feature__image"
        src="components/images/wordpress@2x.jpg"
        alt=""
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="components/images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          components/images/support.webp    1x,
          components/images/support@2x.webp 2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          components/images/support.jpg    1x,
          components/images/support@2x.jpg 2x
        "
      />
      <img
        class="feature__image"
        src="components/images/support@2x.jpg"
        alt=""
      />
    </picture>
  </article>
</section>
